body {
  margin: 0;
  background: #0b0b0b;
  overflow: hidden;
  color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0.5vw;
  cursor: none;
  z-index: 7
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.4em #0b0b0b;
  cursor: none;
}

::-webkit-scrollbar-thumb {
  background:#263752;
  opacity: 0.8;
  border-radius: 0.75em;
  cursor: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #1a2639;
}

.main-area::-webkit-scrollbar {
  width: 1vw;
  cursor: none;
  z-index: 7;
}

.main-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.4em #263752;
  cursor: none;
}

.main-area::-webkit-scrollbar-thumb {
  background:#1a2639;
  opacity: 0.8;
  border-radius: 0.75em;
  cursor: none;
}
.main-area::-webkit-scrollbar-thumb:hover {
  background: #0b0b0b;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('./fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('./fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'gilroylight';
  src: url('./fonts/gilroy-light-webfont.woff2') format('woff2'),
       url('./fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*#263752, #1a2639 and #0b0b0b*/

.menu {
  height: 18vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom: #263752 solid 3px;
  z-index: -1;
}

.artists {
  height: 20vw;
  width: 20vw;
  border-radius: 100%;
  background: #263752;
  box-shadow:#1a2639 0 0 1vw;
  position: absolute;
  z-index: 1;
  left: 10vw;
  top: 5vh;
  font-family: "gilroyextrabold";
  font-size: 4vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.artists span {
  position: absolute;
  top: 7.5vw;
  z-index: 2
}

.darkshade {
  background: #1a2639;
  height: 20vw;
  width: 20vw;
  margin-top: 50vw;
  position: absolute;
  z-index: 1;
}
@keyframes up {
  0% {
    margin-top: 50vw;
  }
  99.9% {
    margin-top: 0vw;
  }
  100% {
    margin-top: 0vw;
  }
}

@keyframes down {
  0% {
    margin-top: 0vw;
  }
  99.9% {
    margin-top: 50vw;
  }
  100% {
    margin-top: 50vw;
  }
}
@keyframes expand {
  0% {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    left: 10vw;
    top: 5vh;
  }
  99.9% {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    left: 0vw;
    top: 0vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    left: 0vw;
    top: 0vh;
  }
}
@keyframes spanup {
  0% {
    top: 7.5vw;
  }
  99.9% {
    top: 2vw;
  }
  100% {
    top: 2vw;
  }
}
.texts {
  position: absolute;
  left: 32vw;
  top: 24vh;
  font-family: "gilroylight";
  font-size: 3vw;
  width: 80vw;
  height: 8vh;
  overflow: hidden;
}
.texts span#text1 {
  position: absolute;
  bottom: 0;
}
.texts span#text2 {
  position: absolute;
  bottom: 8vh;
}
.texts span#text3 {
  position: absolute;
  bottom: 16vh;
}
.texts span#text4 {
  position: absolute;
  bottom: 24vh;
}
@keyframes top-bottom {
  0% {
    bottom: 8vh;
  }
  99.9% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes middle-bottom {
  0% {
    bottom: 0vh;
  }
  99.9% {
    bottom: -8vh;
  }
  100% {
    bottom: -8vh;
  }
}
.about {
  position: absolute;
  top: 55vh;
  left: 2vw;
  width: 70vw;
  height: 50vh;
  font-family: 'gilroylight';
  font-size: 2vw;
}
.logo {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  height: 20vw;
  width: 20vw;
  border-radius: 100%;
  background: #263752;
  box-shadow:#1a2639 0 0 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visit {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  font-family: 'Excon', sans-serif;
  font-size: 1vw;
  opacity: 0.6;
  color: #f5f5f5;
  text-decoration: none;
}
.filters {
  width: 20vw;
  height: 82vh;
  position: absolute;
  top: 18vh;
  left: 0;
  z-index: 2;
  border-right: #0b0b0b solid 3px;
  display: none;
}
.genres {
  width: 15vw;
  height: 76vh;
  border-radius: 3vw;
  position: absolute;
  left: 2.5vw;
  top: 3vh;
  background: #0b0b0b;
  box-shadow: #1a2639 0 0 6vw;
  opacity: 0;
}
.genretitle {
  text-align: center;
  font-family: 'gilroyextrabold';
  font-size: 2.5vw;
  position: absolute;
  top: 1vw;
  width: 15vw;

}
.genrelist {
  width: 15vw;
  font-family: 'gilroylight';
  font-size: 1.5vw;
  position: absolute;
  top: 5vw;
  display: flex;
  justify-content: center;
}
.genrelist span {
  position: absolute;
  cursor: pointer;
}
.genrelist span:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.genrelist span:hover:after { 
  width: 100%; 
  left: 0; 
}
.genrelist span.rap {
  top: 0;
}
.genrelist span.elec {
  top: 2vw;
}
.genrelist span.pop {
  top: 4vw
}
.genrelist span.rock {
  top: 6vw;
}
.genrelist span.all {
  top: 8vw;
}
.main-area {
  width: 80vw;
  height: 82vh;
  position: absolute;
  right: 0;
  top: 18vh;
  overflow-x: hidden;
  overflow-y: auto;
}
[class^="artist-"] {
  width: 70vw;
  height: 30vh;
  border-radius: 3vw;
  background: #0b0b0b;
  box-shadow: #1a2639 0 0 6vw;
  margin-left: 2vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  opacity: 0;
  display: none;
}
[class^="artistpic-"] {
  object-fit: cover;
  position: absolute;
  width: 25vh;
  height: 25vh;
  margin-left: 2.5vh;
  margin-top: 2.5vh;
  border-radius: 100%;
}
[class^="artistname-"] {
  position: absolute;
  font-size: 3vw;
  color: #f5f5f5;
  font-family: 'gilroyextrabold';
  margin-left: 30vh;
  margin-top: 5vh;
}
[class^="artistdesc-"] {
  position: absolute;
  font-size: 2vh;
  color: #f5f5f5;
  font-family: 'gilroylight';
  margin-left: 30vh;
  margin-top: 13vh;
  width: 55vw;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
