@font-face {
    font-family: 'gilroyextrabold';
    src: url('./fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'gilroylight';
    src: url('./fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  /*
  color scheme - #bfd2bf, #0A090C, #646f4b, #839d9a, #7bb2d9
  base unit - 5
  grid - column grid
  */
  body {
    overflow: hidden;
    background: #8ecae6;
    color: #0A090C;
  }

  :root {
    --horibase: 5vw;
    --veribase: 10vh;
    --animation: none;
  }

  /* folding */
  .fold {
    cursor: pointer;
  }
  .fold::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 0 0 20vh 10vw;
    border-color: #ddd #8ecae6;
    box-shadow:#2C666E 0 0 4vw;
    transition: all ease 0.5s;
    animation: var(--animation);
    z-index: 2;
  }
  .fold:hover::before {
    border-width: 0 0 30vh 15vw;
    border-color: #eee #8ecae6;
    box-shadow:#0A090C 0 0 4vw;
  }

  @keyframes fold {
    0% {
        border-width: 0 0 30vh 15vw;
    }
    100% {
        border-width: 0 0 400vh 200vw;
    }
  }
  .casestudies {
    position: absolute;
    top: 0vh;
    left: 20.5vw;
    width: 80vw;
    height: 30vh;
    font-size: 9vw;
    font-family: 'gilroyextrabold';
    color: #07393C;
  }

  .look {
    position: relative;
    top: 30vh;
    left: 5vw;
    font-family: 'gilroyextrabold';
    font-size: 5vh;
    width: 40vw;
    height: 20vh;
    color: #07393C;
    text-align: left;
  }
  .box {
    position: relative;
    left: 50vw;
    top: 0vh;
    width: 30vw;
    height: 50vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    filter:brightness(100%);
    transition: filter 600ms ease-in-out;
    transform: rotate(30deg);
    user-select:none;
  }
  .box:after {
    top: 70vh;
    left: 55vw;
    content: "Flip The Page";
    position: absolute;
    font-family: 'gilroyextrabold';
    font-size: 3vw;
    opacity: 0;
    transition: all 600ms ease-in-out;
    color:#07393C;
    pointer-events: none;
  }
  .box:hover {
    filter: brightness(50%);
    transition: filter 600ms ease-in-out;
  }
  .box:hover::after {
    top: 60vh;
    opacity: 1;
    transition: all 600ms ease-in-out;
  }
  .pen {
    position: absolute;
    width: 60vw;
    height: 60vw;
    left: 50vw;
    top: -30vh;
    pointer-events: none;
    transform: rotate(-30deg);
    filter:brightness(100%);
    transition: filter 600ms ease-in-out;
    user-select: none;
  }
  .box:hover ~ .pen {
    filter: brightness(50%);
    transition: filter 600ms ease-in-out;
  }
  .about {
    position: absolute;
    left: 5.5vw;
    top: 47.5vh;
    font-family: 'gilroylight';
    font-size: 4vh;
    width: 40vw;
    color: #2C666E;
  }
  .visit {
    background: #0A090C;
    border-radius: 0.5vw;
    position: absolute;
    width: 10vw;
    height: 5vh;
    right: 0.5vw;
    top: 0.5vh;
    font-family: 'gilroyextrabold';
    font-size: 1vw;
    color:#8ecae6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .visit div span {
    background:#0A090C;
    mix-blend-mode: multiply;
  }
  .visit div {
    background: linear-gradient( #8ecae6 , #8ecae6) white no-repeat 0 0;
    background-size: 0 100%;
    transition: all 500ms ease-in-out;
  }
  .visit:hover div {
    background-size: 100% 100%;
    transition: all 500ms ease-in-out;
  }
  .studies {
    position: absolute;
    z-index: 3;
    display: none;
    left: 0; 
    top: 0; 
    width: 100vw;
    height: 100vh;
  }
  [class^="study-"] {
    position: relative;
    z-index: 4;
    opacity: 0;
    width: 39.5vw;
    height: 40vh;
    margin: 5vh 5vw;
    margin-left: 5vw;
    margin-top: 5vh;
    background: #2C666E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    box-shadow:#2C666E 0 0 2vw;
    transition: all 500ms ease-in-out;
    cursor: pointer;
  }
  [class^="studypic"] {
    position: absolute;
    width: 15vw;
    height: 29vh;
    left: 1vw;
    top: 5vh;
    border-radius: 100%;
  }
  [class^="studyname"] {
    position: absolute;
    font-family: 'gilroyextrabold';
    font-size: 3vw;
    left: 17.5vw;
    top: 7.5vh;
  }
  [class^="studydesc"] {
    position: absolute;
    font-family: 'gilroylight';
    font-size: 1vw;
    left: 17.5vw;
    top: 15vh;
  }

  [class^="study-"]:hover {
    box-shadow: #2C666E 1vw 1vh 4vw;
    margin-left: 4vw;
    margin-right: 6vw;
    margin-top: 4vh;
    transition: all 500ms ease-in-out;
  }
  [class^="case-"] {
    opacity: 0;
    position: absolute;
    top: 35vh;
    left: 2vw;
    width: 86vw;
    height: 55vh;
    font-family: 'gilroylight';
    font-size: 1.25vw;
    display: none;
  }
 @keyframes fadein {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
 }

 @keyframes expand {
  0% {
    width: 39.5vw;
    height: 40vh;
  }
  99.9% {
    width: 90vw;
    height: 90vh;
  }
  100% {
    width: 90vw;
    height: 90vh;
  }
 }
 @keyframes contract {
  0% {
    width: 90vw;
    height: 90vh;
  }
  99.9% {
    width: 39.5vw;
    height: 40vh;
  }
  100% {
    width: 39.5vw;
    height: 40vh;
  }
 }